<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{pageTitle}}</title>
</head>
<body>
  {{> header}}3
<br><p>hi {{uName}} {{screamIt 'welcome to this '}} to tis page </p>
</body>
{{> footer}}
</html>
